.gradle/
build/
local.properties
*.keystore
*.jks
keystore/
*.apk
*.aab
*.ap_
*.dex

*.class
*.jar
!gradle-wrapper.jar

*.log
*.iml
.idea/

.DS_Store
Thumbs.db

captures/
.externalNativeBuild/
.cxx/

$HOME/.gradle/
